body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

#app {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

#app header {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#app h1 {
  font-size: 24px;
  margin: 0;
}

#app main {
  background-color: #fff;
  padding: 10px;
}

#app .video-container {
  width: 100%;
  position: relative;
  padding-bottom: 141.33%;
  margin-bottom: 20px;
}

#app .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#app .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#app .user-info h3 {
  margin: 0;
  font-size: 18px;
}

#app .description {
  font-size: 16px;
  margin-bottom: 20px;
}

#app .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app .actions button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

#app .actions button:first-child {
  color: #FF0000;
}

#app .actions button:last-child {
  color: #0000FF;
}

#app footer {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

#app footer p {
  margin: 0;
  font-size: 14px;
  color: #A8A8A8;
}

.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.app-nav a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.reload-button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  margin-right: 20px;
}
